<% include partials/header %>
<h1>Add Customer</h1>
<form method="POST" action="/users/add">
<label>first name</label><br>
<input type="text" name="firstname"><br>
<label>last name</label><br>
<input type="text" name="lastname"><br>
<label>email</label><br>
<input type="text" name="email"><br>
<input type="submit" value="submit">
</form>
<% person.forEach(function(person){%>
<li><%=person.name %></li>
<%})%>
<% include partials/footer %>